@model WeatherConditionTableViewModel


<div class="container">
    <table class="table table-fluid" id="myTable">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>T</th>
            <th>Относительная влажность</th>
            <th>Td</th>
            <th>Атмосферное давление</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>h</th>
            <th>VV</th>
            <th>Погодные явления</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var condition in Model.AllWeatherCondition)
            {
                <tr>
                    <td>@condition.Date.ToShortDateString()</td>
                    <td>@condition.Date.TimeOfDay</td>
                    <td>@condition.Temperature</td>
                    <td>@condition.RelativeHumidity</td>
                    <td>@condition.DewPoint</td>
                    <td>@condition.AtmosphericPressure</td>
                    <td>@condition.WindDirection</td>
                       
                    @if (@condition.WindSpeed != null)
                    {
                        <td>@condition.WindSpeed</td>
                    }
                    else
                    {
                        <td>--</td>
                    }
                    @if (@condition.CloudCover != null)
                    {
                        <td>@condition.CloudCover</td>
                    }
                    else
                    {
                        <td>--</td>
                    }
                    @if (@condition.DownBorderCloudCover != null)
                    {
                        <td>@condition.DownBorderCloudCover</td>
                    }
                    else
                    {
                        <td>--</td>
                    }
                    @if (@condition.HorizontalView != null)
                    {
                        <td>@condition.HorizontalView</td>
                    }
                    else
                    {
                        <td>--</td>
                    }
                    @if (@condition.WeatherPhenomena != null)
                    {
                        <td>@condition.WeatherPhenomena</td>
                    }
                    else
                    {
                        <td>--</td>
                    }
                        
                </tr>
            }
        }
        </tbody>
    </table>
</div>