@model WeatherConditionTableViewModel


<div class="container">
    <table class="table table-fluid" id="myTable">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>T</th>
            <th>Относительная влажность</th>
            <th>Td</th>
            <th>Атмосферное давление</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>h</th>
            <th>VV</th>
            <th>Погодные явления</th>
        </tr>
        </thead>
        <tbody>
        @{
                foreach (var condition in Model.allWeatherCondition)
                {
                    <tr>
                        <td>@condition.date.ToShortDateString()</td>
                        <td>@condition.date.TimeOfDay</td>
                        <td>@condition.temperature</td>
                        <td>@condition.relativeHumidity</td>
                        <td>@condition.dewPoint</td>
                        <td>@condition.atmosphericPressure</td>
                        <td>@condition.windDirection</td>
                        @if (@condition.windSpeed != null)
                        {
                            <td>@condition.windSpeed</td>
                        }
                        else
                        {
                            <td>--</td>
                        }
                        @if (@condition.cloudCover != null)
                        {
                            <td>@condition.cloudCover</td>
                        }
                        else
                        {
                            <td>--</td>
                        }
                        @if (@condition.downBorderCloudCover != null)
                        {
                            <td>@condition.downBorderCloudCover</td>
                        }
                        else
                        {
                            <td>--</td>
                        }
                        @if (@condition.horizontalView != null)
                        {
                            <td>@condition.horizontalView</td>
                        }
                        else
                        {
                            <td>--</td>
                        }
                        @if (@condition.weatherPhenomena != null)
                        {
                            <td>@condition.weatherPhenomena</td>
                        }
                        else
                        {
                            <td>--</td>
                        }
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>